<nav class="pp-nav">
  <div class="pp-container pp-nav__inner">

    <!-- Brand -->
    <a class="pp-brand" href="<%= root_path %>">
      ParentSpace
    </a>

    <!-- Right side -->
    <div class="pp-nav__right">

      <!-- Links -->
      <div class="pp-links">
     <a class="pp-link" href="<%= start_here_path %>">Start Here</a>
<a class="pp-link" href="<%= services_path %>">Learn</a>
<a class="pp-link" href="<%= contact_path %>">Connect</a>

<a class="pp-btn pp-btn--ghost" href="<%= new_user_registration_path %>">Join</a>
<a class="pp-btn pp-btn--solid" href="<%= new_user_session_path %>">Log in</a>
      </div>

    </div>
  </div>
</nav>