<div class="pins">
  <% @pins.each do |pin| %>
    <div class="pin">
      <% if pin.image.attached? %>
        <% if pin.image.image? %>
          <%= link_to pin do %>
            <%= image_tag pin.image.variant(resize_to_limit: [600, 600]), class: "pin-thumb" %>
          <% end %>
        <% else %>
          <%= link_to "View file", url_for(pin.image), target: "_blank", rel: "noopener" %>
        <% end %>
      <% else %>
        <p>No file yet</p>
      <% end %>

      <p class="pin-desc">
        <%= pin.description %><br/>
        <%= pin.user&.name %>
      </p>

      <% if pin.user == current_user %>
        <br/>
        <%= link_to "Edit", edit_pin_path(pin) %>

<%= link_to "Destroy", pin,
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  <% end %>
</div>