<% content_for :title, @pin.title.presence || "Pin" %>

<div class="container mt-4">
  <%= render @pin %>

  <%= render "shared/login_to_interact" %>

  <div class="mt-4 d-flex gap-3">
    <%= link_to "Back to pins", pins_path, class: "btn btn-outline-secondary" %>

    <% if user_signed_in? && @pin.user == current_user %>
      <%= link_to "Edit",
                  edit_pin_path(@pin),
                  class: "btn btn-outline-primary" %>

      <%= link_to "Delete",
                  pin_path(@pin),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>